<div
  fxLayout="column"
  fxLayoutAlign="start stretch"
  fxLayoutGap="32px"
>
  <p *ngIf="totalQuantity === 1">Це замовлення складається з 1 товару</p>
  <p *ngIf="totalQuantity > 1">Це замовлення складається з {{ totalQuantity }} товарів.</p>

  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="quantityAndName">
      <td mat-cell *matCellDef="let item">{{ item.quantity}}x {{ item.product.title }}</td>
      <td mat-footer-cell *matFooterCellDef>Загалом</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <td mat-cell *matCellDef="let item">
        {{ item.quantity * item.product.price  }} грн
      </td>
      <td mat-footer-cell *matFooterCellDef>{{ totalPrice }} грн</td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    <tr mat-footer-row *matFooterRowDef="columnsToDisplay"></tr>
  </table>
</div>
