.full-height {
  height: 100%;
}

.scroll {
  overflow-y: auto; /*adds scroll to this container*/
}

:host /deep/ .mat-radio-label {
  .mat-radio-label-content {
    padding-right: 50px;
    padding-left: 2px;
  }
}
.post {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 500px){
  :host /deep/ .mat-radio-label {
    .mat-radio-label-content {
      padding-right: 15px;
      padding-left: 2px;
    }
  }
}

:host /deep/ .mat-radio-outer-circle {
  border-color: black;
}

:host /deep/ .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: black;
}

:host /deep/ .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: black;
}
