
<div>
    <div class="container post">
        <mat-radio-group [(ngModel)]="selectedCategoryId" (change)="onSelectedCategoryChange()">
            <mat-radio-button value="">
                Всі категорії
            </mat-radio-button>
            <mat-radio-button class="padding" *ngFor="let category of (categories$ | async)" [value]="category.id">
                <div class=""> {{ category.name}} </div>
            </mat-radio-button>
        </mat-radio-group>
    </div>
    <div style="display: -webkit-flex;
         flex-flow: row wrap;
         -webkit-flex-flow: row wrap;
         -webkit-align-content: flex-end;
         display: flex;
         align-content: flex-end;
         justify-content: space-between">
        <app-product-card *ngFor="let product of (products$ | async)" [product]="product"></app-product-card>
    </div>
</div>