<div class="wrapper">
    <div class="page-header">
        <div class="page-header-image rellax-header" data-rellax-speed="-7"
            style="background-image: url('../../assets/img/1.jpg');">
        </div>
        <div class="container">
            <div class="content-center brand">
                <img class="n-logo" src="assets/img/blackSushi.png" alt="blackSushi">
                <!--                <h1 class="h1-seo">Black Sushi & Pizza</h1>-->
                <!--                <h3 class="h2">Ми робимо найкращі суші для ВАС</h3>-->
            </div>
        </div>
    </div>
    <div class="main">
        <div class="section">
            <div class="container">
                <h1 style="text-align:center; color: #000; font-size: 3em;
  font-weight: 600; ">
                    <span style='font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;'>МЕНЮ</span>
                    <hr style="color: gray">
                </h1>
                <app-home></app-home>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="elfsight-app-d6cbb41a-6d95-46e7-a5f7-958ad58c7a46"></div>
                <div class="free"
                    style="position: absolute; background: white; display: block;height: 40px; width: 1000px;z-index: 99999; margin-top: -46px;">
                </div>
            </div>
        </div>
        <div class="section section-signup">
            <h1>Google карта з місцем доставки</h1>
        </div>
    </div>
    <footer class="footer" style="background-color: #000000;">
        <div class="container">
            <nav>
                <ul>

                </ul>
            </nav>
            <div class="copyright" style="color: white">
                &copy;
                {{data | date: 'yyyy'}} Coded by
                <a href="https://www.linkedin.com/in/ihor-papizh-52415a145" target="_blank" style="color: white">Ihor
                    Papizh</a>.
            </div>
        </div>
    </footer>
</div>