<nav class="navbar navbar-expand-lg bg-primary fixed-top" color-on-scroll="500">
    <div class="container">
        <div class="dropdown button-dropdown">
            <div ngbDropdown>
                <div ngbDropdownMenu>
                    <a class="dropdown-header">Dropdown header</a>
                    <a class="dropdown-item" href="tel:+380630494941">80630494941 </a>
                    <a class="dropdown-item" href="#" [routerLink]="['/']">Головна</a>
                    <a class="dropdown-item " href="#">Меню</a>
                    <a class="dropdown-item" href="#">Доставка</a>
                </div>
            </div>
        </div>
        <div class="navbar-translate">
            <a (click)='onActivateBlack()' class="navbar-brand logoP" placement="bottom">
                Black Sushi & Pizza
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"
                (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item tel">
                    <a class="nav-link m-0"><span>Графік роботи:</span> 12:00-22:00</a>
                </li>
                <li class="nav-item tel">
                    <a class="nav-link m-0" href="tel:+380630494941">(063) 049-49-41</a>
                </li>
                <li class="nav-item tel">
                    <a class="nav-link m-0" href="tel:+380960494941">(096) 049-49-41</a>
                </li>
                <li class="nav-item tel">
                    <a class="nav-link" [routerLink]="['/']" (click)='onActivate()'>
                        <i class="now-ui-icons -home"></i>
                        <p>Головна</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [matBadge]="numberInCart" [matBadgeHidden]="numberInCart < 1"
                        [routerLink]="['/shopping-cart']">
                        <i class="now-ui-icons shopping_cart-simple"></i>
                        <p class="d-lg-none d-xl-none">Корзина</p>
                    </a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Ми в Facebook" data-placement="bottom" target="_blank"
                        href="https://www.facebook.com/blacksushilviv">
                        <i class="fab fa-facebook"></i>
                        <p class="d-lg-none d-xl-none">Facebook</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Ми в Instagram " data-placement="bottom"
                        href="https://www.instagram.com/black_sushi_lviv" target="_blank">
                        <i class="fab fa-instagram"></i>
                        <p class="d-lg-none d-xl-none">Instagram</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>