<div class="container margin" style="margin-top: 100px;">
    <div> Наші замовлення</div>
    <div class="section">
        <div>
            <div class="margin" *ngFor="let order of orders">
                <div class="styleHeader">
                    <div>Ім'я</div>
                    <div>Адреса</div>
                    <div>Номер телефону</div>
                </div>
                <div class="styleOrder">
                    <div>{{order.address.name}}</div>
                    <div>{{order.address.addressLines[0]}}</div>
                    <div>{{order.address.addressLines[1]}}</div>
                </div>
                <div>{{order.date| date:'dd.MM.yyyy H:mm' }}</div>

                <div class="productInfo" *ngFor="let item of order.shoppingCartItems">
                    <div class="styleProduct">
                        <div class="itemOrder"> Категорія </div>
                        <div class="itemOrder"> Назва </div>
                        <div class="itemOrder"> Кількість </div>
                        <div class="itemOrder"> Ціна </div>
                    </div>

                    <div class="styleOrderPrice" *ngIf="item.product">
                        <img [src]="item.product.imageUrl" alt="Product image" />

                        <div class="itemOrder"> {{item.product.category.name}}</div>
                        <div class="itemOrder"> {{item.product.title}} </div>
                        <div class="itemOrder"> {{item.quantity}} </div>
                        <div class="itemOrder"> {{item.product.price}}</div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>