<div class="container">

  <div class="section margin">
    <button routerLink="/admin/products/new" style="background-color: black; color: white; margin-top: 5px;">
      New product
    </button>
    <mat-form-field>
      <input matInput type="text" (keyup)="applyFilter()" placeholder="Filter" [(ngModel)]="filterValue" />
      <button mat-button *ngIf="filterValue" matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
      <td mat-cell *matCellDef="let product">{{ product.title }}</td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
      <td mat-cell *matCellDef="let product">{{ product.category.name }}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
      <td style="padding-right:10px;" mat-cell *matCellDef="let product">
        {{ product.price}}грн
      </td>
    </ng-container>
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Weight</th>
      <td mat-cell *matCellDef="let product">
        {{  product.weight }}г
      </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
      <td mat-cell *matCellDef="let product">
        {{ product.description }}
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let product">
        <a [routerLink]="['/admin/products/', product.id]">Edit</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[50, 20, 50]" showFirstLastButtons>
  </mat-paginator>
</div>